[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pydrive = "*"
speechrecognition = "*"
pydub = "*"
ffmpeg = "*"
presidio-analyzer = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.9"
